
.container {
    margin: 100px;
    margin-right: 500px;
    border: 1px solid blue;
    background-color: lightblue;
    border-radius: 25px;
}

.head {
    background-color: #4CAF50; 
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-left: 1px solid white;
  border-right: 1px solid white;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#4CAF50;
  min-width: 160px;
  box-shadow:#ddd;
  z-index: 1;
}

.dropdown-content a {
  color:#ddd;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;} 
